.classify {
  .at-segmented-control {
    border: none;
    border-radius: 0;
  }
  .at-segmented-control__item {
    color: #333;
    padding: 10px;
  }
  .at-segmented-control__item + .at-segmented-control__item {
    border-left: none;
  }
  .at-segmented-control__item--active {
    background-color: #fff;
    color: #6190E8;
  }
  .list {
    height: 100vh;
    .at-toast .toast-body {
      min-width: 130px;
    }
    .at-toast .toast-body-content__img-item {
      width: 60px;
      height: 60px;
    }
    .at-indexes__menu {
      top: 54%;
    }
    .at-list__item {
      font-size: 25px;
    }
  }
}
