.classfiy-des {
  font-size: 27px;
  .des, .common, .require {
    padding: 20px 28px;
  }
  .des {
    color: #fff;
  }
  .des-common {
    padding: 20px 28px;
  }
  .des-1 {
    background-color: #624036;
  }
  .des-2 {
    background-color: #2F2B28;
  }
  .des-3 {
    background-color: #084981;
  }
  .des-4 {
    background-color: #E4382C;
  }
  .common {
    &-list {
      margin-top: 10px;
      view {
        margin: 8px;
        font-size: 27px;
      }
    }
  }
  .require {
    border-top: 0.3px solid #F4F4F5;
    &-list {
      margin-top: 10px;
      .tip {
        display: flex;
        align-items: baseline;
        .title {
          flex: 1;
          margin-left: 5px;
        }
      }
    }
  }
}