.home {
  &-search {
    margin: 10px;
    display: flex;
    padding: 10px;
    background-color: #F7F7F7;
    border-radius: 35px;
    font-size: 34px;
    color: #909399;
    align-items: baseline;
    justify-content: center;
    .text {
      margin-left: 5px;
    }
  }
}
